Package: libeet-doc
Source: eet
Version: 1.7.9-1ppa1~saucy
Architecture: all
Maintainer: Luis Felipe Strano Moraes <luis.strano@gmail.com>
Installed-Size: 2236
Enhances: libeet-dev
Section: doc
Priority: optional
Homepage: http://www.enlightenment.org
Description: libeet1 API documentation
 Eet is a tiny library designed to write an arbitrary set of chunks of data to a
 file and optionally compress each chunk (very much like a zip file) and allows
 fast random-access reading of the file later on. It does not do zip as zip
 itself has more complexity than needed, and it was much simpler to implement
 this once here.
 .
 This package contains documentation (html and manpages) for development with
 libeet.
