Package: libemotion0-dbgsym
Package-Type: ddeb
Source: emotion
Version: 1.7.9-1ppa1~saucy
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Luis Felipe Strano Moraes <luis.strano@gmail.com>
Installed-Size: 161
Depends: libemotion0 (= 1.7.9-1ppa1~saucy)
Section: debug
Priority: optional
Description: debug symbols for libemotion0
Build-Ids: 07c061832d737b5c88ebc4302b4499a681afdd33 14d8cfc1666f03a87cc751d0b369435443158704 2c0d0f0cb68cad3284a8cdc53bfc26fc9acc0e34
