Package: libemotion0
Source: emotion
Version: 1.7.9-1ppa1~saucy
Architecture: amd64
Maintainer: Luis Felipe Strano Moraes <luis.strano@gmail.com>
Installed-Size: 151
Depends: libc6 (>= 2.34), libecore1 (>= 1.7.9), libeet1 (>= 1.2.3), libeina1 (>= 1.0.0-1-svn60184), libeio0 (>= 1.7.9), libevas1, libxine2 (>= 1.2.0)
Section: libs
Priority: optional
Homepage: http://enlightenment.org
Description: Enlightenment's audio and video integration.
 Enlightenment's audio and video integration.
