Package: libeeze-dev
Source: eeze
Version: 1.7.9-1ppa1~saucy
Architecture: amd64
Maintainer: Luis Felipe Strano Moraes <luis.strano@gmail.com>
Installed-Size: 175
Depends: libeeze1 (= 1.7.9-1ppa1~saucy), libudev-dev, libeina-dev (>= 1.7.6), libecore-dev (>= 1.7.6)
Section: libdevel
Priority: extra
Homepage: http://trac.enlightenment.org/e/wiki/Eeze
Description: Eeze is a library for manipulating devices through udev with a simple and fast api.
 Eeze is a library for manipulating devices through udev with a simple and fast api. It interfaces directly with libudev, avoiding such middleman daemons as udisks/upower or hal, to immediately gather device information the instant it becomes known to the system.
