Package: libecore-dbg
Source: ecore
Version: 1.7.9-1ppa1~saucy
Architecture: amd64
Maintainer: Luis Felipe Strano Moraes <luis.strano@gmail.com>
Installed-Size: 2338
Depends: libecore1 (= 1.7.9-1ppa1~saucy)
Section: debug
Priority: extra
Homepage: http://enlightenment.org
Description: Debugging symbols for libecore
 This is the core event abstraction layer and X abstraction layer that makes
 doing selections, Xdnd, general X stuff, and event loops, timeouts and idle
 handlers fast, optimized, and convenient. It's a separate library so anyone
 can make use of the work put into Ecore to make this job easy for
 applications
 .
 This package contains unstripped shared libraries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat easier
 to interpret core dumps. The libraries are installed in /usr/lib/debug and
 are automatically used by gdb.
