[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sub
Name[Name]=Sub
Name[ab]=
Name[ca]=
Name[cs]=
Name[de]=
Name[el]=
Name[eo]=
Name[es]=
Name[fr]=
Name[gl]=
Name[hu]=
Name[it]=
Name[ja]=
Name[ko]=
Name[pt]=
Name[ru]=
Name[sr]=
Name[tr]=
Exec=subtest
Categories=Test
