[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Efreet Test Application
Name[Name]=Efreet Test Application
Name[ab]=
Name[ca]=
Name[cs]=
Name[de]=
Name[el]=
Name[eo]=Provoversia aplikaĵo de Efreet
Name[es]=
Name[fr]=Application test pour Efreet
Name[gl]=
Name[hu]=
Name[it]=
Name[ja]=
Name[ko]=
Name[pt]=
Name[ru]=
Name[sr]=
Name[tr]=
GenericName=Test Application
GenericName[eo]=Provoversia aplikaĵo
GenericName[fr]=Application test
Icon=TestIcon
Exec=efreet_test %F %i
Categories=Test;Enlightenment;
X-Test=Own key
