#!/usr/bin/make -f

#include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_SCRIPT := ./autogen.sh

unexport LANG

CFLAGS += -fvisibility=hidden -O2
LDFLAGS += -fvisibility=hidden

%:
	dh $@

override_dh_auto_configure:
	touch README
	touch ABOUT-NLS
	autopoint -f
	aclocal -I m4
	autoheader
	autoconf
	libtoolize --copy --automake
	automake --add-missing --copy --gnu
	dh_auto_configure

override_dh_makeshlibs:
	dh_makeshlibs -V

override_dh_auto_clean:
	-$(MAKE) maintainer-clean
	rm -f README
