Package: libethumb-dbgsym
Package-Type: ddeb
Source: ethumb
Version: 1.7.9-1ppa1~saucy
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Luis Felipe Strano Moraes <luis.strano@gmail.com>
Installed-Size: 124
Depends: libethumb (= 1.7.9-1ppa1~saucy)
Section: debug
Priority: optional
Description: debug symbols for libethumb
Build-Ids: c99cb4c0e1825c44ac32f99e5605a48350821b6c ec7b50b11b656b1f916f99837333ea0a7e76b2e3
