Package: libeeze1
Source: eeze
Version: 1.7.9-1ppa1~saucy
Architecture: amd64
Maintainer: Luis Felipe Strano Moraes <luis.strano@gmail.com>
Installed-Size: 84
Depends: libc6 (>= 2.33), libecore1 (>= 1.7.9), libeina1 (>= 1.0.0~beta), libmount1 (>= 2.20.1), libudev1 (>= 183)
Conflicts: libeeze0
Provides: libeeze0
Section: libs
Priority: extra
Homepage: http://trac.enlightenment.org/e/wiki/Eeze
Description: Eeze is a library for manipulating devices through udev with a simple and fast api.
 Eeze is a library for manipulating devices through udev with a simple and fast api. It interfaces directly with libudev, avoiding such middleman daemons as udisks/upower or hal, to immediately gather device information the instant it becomes known to the system.
