Package: libeio0-dbgsym
Package-Type: ddeb
Source: eio
Version: 1.7.9-1ppa1~saucy
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Luis Felipe Strano Moraes <luis.strano@gmail.com>
Installed-Size: 114
Depends: libeio0 (= 1.7.9-1ppa1~saucy)
Section: debug
Priority: optional
Description: debug symbols for libeio0
Build-Ids: 20c21435b35529493be4e91d0622bc78144780d7
