Package: evas-generic-loaders
Version: 1.7.9-1ppa1~saucy
Architecture: amd64
Maintainer: Luis Felipe Strano Moraes <luis.strano@gmail.com>
Installed-Size: 102
Depends: libc6 (>= 2.34), libcairo2 (>= 1.2.4), libeina1 (>= 1.0.0~beta), libgcc-s1 (>= 3.0), libglib2.0-0 (>= 2.12.0), libpoppler118 (>= 22.02.0), librsvg2-2 (>= 2.14.4), libspectre1 (>= 0.2.3), libstdc++6 (>= 5.2), zlib1g (>= 1:1.1.4)
Section: x11
Priority: optional
Homepage: http://www.enlightenment.org
Description: Evas Generic Loaders
 .
 Additional "generic" loaders for Evas that are stand-alone executables
 evas may run from its generic loader module. adds support for:
 PDF, PS, MPG/AVI/OGV/MOV/MKV/WMV etc. (using Gstreamer)
