Package: libethumb-plugins-dbgsym
Package-Type: ddeb
Source: ethumb
Version: 1.7.9-1ppa1~saucy
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Luis Felipe Strano Moraes <luis.strano@gmail.com>
Installed-Size: 29
Depends: libethumb-plugins (= 1.7.9-1ppa1~saucy)
Section: debug
Priority: optional
Description: debug symbols for libethumb-plugins
Build-Ids: 2b08bc9777d8845982bcf389d0a66e6a05e6ca2c
